.cart-align {
    align-items: center;
    justify-content: center;
}

.cart-img {
    height: 20vh;
}

.cart-area-width{
    width:100%;
    text-align: center;
}

.col-set{
    height: 1rem;
}

.col-set h4{
    font-size: 0.8em;
}

.col-set p{
    font-size: 0.8em;
}